
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-9.jpg")" alt="..." />
                    <h4 class="whoswho-title">
                        Aaron
                        <small>Recruitment & IT Coordinator</small>
                    </h4>
                </a>
            </div>
            <p class="description text-center">Favourite TV Show -- Transformers. Plus I had all the toys!</p>
        </div>
        <hr>
        <div class="text-center">
            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-13.jpg")" alt="..." />
                    <h4 class="whoswho-title">Clara <small> Coordinator </small></h4>
                </a>
            </div>
            <p class="description text-center">
                Yesterday is history, tomorrow is a mystery, but today is a gift. That is why it is called present.<br />
            </p>
        </div>
        <hr>
        <div class="text-center">
            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-12.jpg")" alt="..." />
                    <h4 class="whoswho-title">
                        Edwin
                        <small>Business Manager</small>
                    </h4>
                </a>
            </div>
            <p class="description text-center">Favourite TV Show -- Transformers. Plus I had all the toys!</p>
        </div>
        <hr>
        <div class="text-center">
            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
        </div>
    </div>
</div>


				</div>






<div class="row">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-2.jpg")" alt="..." />
                        <h4 class="whoswho-title">Jenny  <small> Coordinator Team Leader </small></h4>
                    </a>
                </div>
                <p class="description text-center"> If I was an animal I would be a free-spirited brumby.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-3.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Jess <small> Coordinator</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center"> The last book I read was the Twilight Series.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-4.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Jiji
                            <small>Afterhours Coordinator & Office Allrounder!</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">Am half a century old but sometimes feels like Peter Pan.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>



</div>


<div class="row">

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-5.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Michelle
                            <small>Business Development Manager</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center"> Fresh prawn and mango salad -- if you haven’t tried it, do yourself a favour!</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-6.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Nathan<small>Coordinator</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">I wanted to be a Train Driver. I will follow this dream one day!</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-1.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Rod <small>Director</small>
                        </h4>
                    </a>
                </div>

                <p class="description text-center">I love to get some wind in my hair (what’s left of it) during the summer sailing season. </p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-unknown-girl.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Sharyn <small>Community Team Leader</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">The last book that I read was Harry Potter and the Deathly Hallows. I am a big fan.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-8.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Tien
                            <small>Administration Assistant</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">I am the first face everyone sees when they visit our Strathfield office and I will always greet you with a warm smile.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-unknown-boy.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Waseem<small>Case Manager</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">Favourite holiday destination -- Belgium. Lots of history, beautiful architecture...and Belgian chocolates.</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>


</div>


<div class="row">


    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="@Url.Content("~/Content/img/Wallpaper/wallpaper.jpg")" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="@Url.Content("~/Content/img/Faces/profilepic-unknown-girl.jpg")" alt="..." />
                        <h4 class="whoswho-title">
                            Wendy
                            <small>Business Development Manager (Northern Suburbs)</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">You know how to whistle don’t you? Just put your lips together and blow...</p>
            </div>
            <hr>
            <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
            </div>
        </div>
    </div>

</div>
